/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* main */
html,body {height:100%;}
body > #Container {height:auto;}

body {
    color: white;
    background-color: #fccccc;
}

#SearchBox {
    display: inline;
}

#Container {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 100%;
    min-height:100%;
    color: black;
}

#Header {
    height: 70px;
    padding: 2px;
}

#Header a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#Header .subtitle {
    font-size: 40%;
    font-weight: normal;
}

#Content {
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;

    -webkit-box-shadow: #feeeee 5px 5px 10px;
    -moz-box-shadow: #feeeee 10px 10px 10px;
    box-shadow: #feeeee 10px 10px 10px;
}
#Content a {
    text-decoration: none;
}

.clear-both { clear:both;}

#FooterContainer {
    font-size: 10px;
    color: black;
    bottom:0px;
    height:20px;
    width:780px;
}
#Footer {
    text-align: right;
    padding-right: 10px;
    padding-top: 2px;
}

/** RootPage */
#RootPage .modules {
    margin-top: 20px;
    list-style: none;
}
#RootPage .module {
    margin-bottom: 10px;
    clear: both;
}
#RootPage .module h3 {
    font-size: 140%;
}
#RootPage .modules .module-info {
    float: left;
}
#RootPage .modules .changes {
    background-color: #fceeee;
    padding: 4px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;

    -webkit-box-shadow: #feeeee 5px 5px 10px;
    -moz-box-shadow: #feeeee 10px 10px 10px;
    box-shadow: #feeeee 10px 10px 10px;

    width: 600px;
    margin-left: 10px;
}
#RootPage .modules .diff {
    margin-left: 10px;
    text-align: right;
    margin-top: 7px;
}
#RootPage .modules .diff a {
    color: #999999;
}
#RootPage .modules .timestamp {
    margin-left: 10px;
    color: #cccccc;
    text-align: right;
    margin-top: 3px;
}
#RootPage .modules .author {
    float: right;
}
#RootPage .author img {
    display: block;
}

/** dist page */
#DistPage table.modulemeta {
    margin-bottom: 20px;
    width: 600px;
    float:left;
}
#DistPage .gravatar {
    float: right;
}
#DistPage table.package-list th {
    font-weight: bold;
}
#DistPage h2 {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

/** pod page */
#PodPage .blead-list {
    font-size: 80%;
    margin-bottom: 20px;
}
#PodPage .pod {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
#PodPage .pod pre {
    margin-left: 30px;
}
#PodPage .pod h1 {
    font-size: 120%;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #681818;
}
#PodPage .pod h2 {
    font-size: 100%;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #681818;
}
#PodPage .pod h3 {
    font-size: 90%;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #681818;
}
#PodPage .pod pre {
    background-color: #fceeee;
    padding: 4px;
    border-radius: 8px;
    font-size: 80%;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
#PodPage .pod ul {
    margin-left: 30px;
}
#PodPage .pod ul li {
    padding: 4px 10px 4px 28px;
    /* background-image: url(/static/img/icons/flag.png); */
    background-repeat: no-repeat;
    background-position: left center;
    list-style-type: none;
}
#PodPage .pod dd {
    margin-left: 40px;
}

#AuthorPage th {
    font-weight: bold;
}

/** search result */

.SearchAuthorResult {
    margin-bottom: 20px;
}
.SearchAuthorResult ul {
    margin-left: 10px;
    padding: 0;
    list-style-type: none;
}
.SearchAuthorResultHeader {
    font-size: normal;
    text-align: left;
}
.SearchModuleResult {
}
.SearchModuleResultHeader {
    font-size: normal;
    text-align: left;
}
.SearchModuleResultContainer {
    margin-left: 10px;
}
.SearchResultElement {
    margin-bottom: 10px;
}
.SearchResultElement .description {
    font-size: small;
    margin-left: 10px;
}
.SearchResultElement .search-footer {
    margin-left: 10px;
    font-size: small;
}
.SearchResultElement .search-score {
    color: #cccccc;
}
.search-header {
    text-align: right;
    font-size: small;
}

/* diff */

#DiffPage h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

#DiffPage .file {
    margin-left: 20px;
    margin-top: 10px;
    border-bottom: 1px solid #999999;
}
#DiffPage .file a.new {
    background-color: #CAFFCA;
}
#DiffPage .file a.old {
    background-color: #FFCACA;
}
#DiffPage .file ins {
    background-color: #CAFFCA;
}
#DiffPage .file del {
    background-color: #FFCACA;
}

/* Ranking */
#RankingPage .RankingTable {
    margin-top: 30px;
}
#RankingPage .RankingRank {
    font-weight: bold;
}

.highlight { background-color: yellow }

.pager { text-align: center; }

.IUseThisEntry-Footer {
    font-size: x-small;
    text-align: right;
}

.cpanstats_state_fail {
    color: red;
}
.cpanstats_state_pass {
    color: green;
}
.cpanstats_state_na {
    color: yellow;
}
.cpanstats_state_unknown {
    color: yellow;
}

#DirectoryPage th {
    font-weight: bold;
}
#FileSourcePage .bread-list {
    float:left;
}
#FileSourcePage .menu {
    float:right;
    text-align: right;
}
#FileSourcePage pre {
    clear: both;
    background-color: white;
    padding: 4px;
    border-radius: 8px;
    font-size: 80%;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

/* media queries */
@media only screen and (max-width: 479px) {
    body { margin: 1.5em; }
    #header h1 { font-size: 200% }
    #content { font-size: 170%;
    line-height: 1.5em; }
    pre { overflow:auto; }
}


