<!doctype html>
<html>
    <head>
        <meta charset=utf-8 />
        <title>FrePAN - CPAN recent changes</title>
        <meta http-equiv="Content-Style-Type" content="text/css" />  
        <meta http-equiv="Content-Script-Type" content="text/javascript" />  
        <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/YetAnotherCpanRecentChanges" />
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/main.css?v=19" rel="stylesheet" type="text/css" media="screen" />
    </head>
    <body>
        <div id="Container">
            <div id="Header">
                <a href="/" class="brand">FrePAN</a>
            </div>
             <div id="Content" style="clear: both">
             <div id="RootPage">
                <ul class="modules clearfix">
                [% FOR v IN entries %]
                    <li class="module">
                        <h3>
                            <span class="glyphicon glyphicon-asterisk"></span>
                            <a href="[% v.link %]">[% v.title %]</a>
                        </h3>
                        [% v.content.body | raw %]
                        <div class="clear-both">&nbsp;</div>
                    </li>
                [% END %]
                </ul>
            </div>
            </div>
            <div class="clear-both"></div>
                <div id="FooterContainer" style="clear:both;"><div id="Footer">
                    This is FrePAN, freshness CPAN feed powered by metacpan API.
                    <a href="http://mylingual.net/">Localize FrePAN to your own language using Mylingual</a>
                </div>
            </div>
        </div>
    </body>
</html>
