<div class="module-info">
    <div class="abstract">[% abstract %]</div>
    <pre class="changes">[% changes_diff %]</pre>
    <div class="timestamp">[% date %]</div>
</div>

<div class="author">
    <a href="http://beta.metacpan.org/author/[% author %]">
        <div><img src="[% gravatar_url %]" width="80" height="80" /></div>
        [% author | lower %]
    </a>
</div>

<div class="footer">
    <a href="[% link %]">metacpan</a>
    <a href="[% download_url %]">Download</a>
</div>

